@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@200;300;400;500;600;700;800;900&display=swap');


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(246, 252, 243);
}
    

h1{
font-family: "Epilogue";
    
}

h2{
    font-family: "Epilogue";
    font-weight: 400;
}

h3{
    font-family: "Epilogue";
    font-weight: 400;
}

h4{
    font-family: "Epilogue";

}
h5{
        font-family: "Epilogue";
}

p {
    font-family:"Epilogue";
}
